apiVersion: v1
kind: Pod
metadata:
  name: nginx-pod
  namespace: default
  labels:
    app: nginx
spec:
  containers:
    - name: nginx-continer
      image: nginx
      ports:
        - containerPort: 80
      
  

  