apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db-pvc
  namespace: storage-app
spec:
  resources:
    requests:
      storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  storageClassName: db-storage
