apiVersion: apps/v1 # manage
kind: ReplicaSet
metadata:
  name: nginx-rs
  namespace: default
spec:
  replicas: 5
  selector:
    matchLabels:
      app: nginx
  template:
   metadata:
     name: nginx-pod
     labels:
      app: nginx
   spec:
    containers:
    - name: nginx-continer
      image: nginx
      ports:
        - containerPort: 80